##Estructuras de repetición
Se emplea cuando se desea repetir una parte del código, dad una condición

##Lista
* Son un conjunto de tipos de datos, **indexado** (todos los datos tienen una posición), separado por comas, y encerrado entre [].
* Todos los elementos dentro de una lista, se empiezan a contar desde 0.
### Creación de listas
* Forma general: listas=[]
* Forma manual: animales=["gato", "perro"."zorro", "oso"]
* Por conversión: número=list(range(10))
* Son objetos

In [ ]:
lista=[]

In [2]:
lista=list(range(1,8))

NameError: name 'lista' is not defined

In [ ]:
lista.count()

In [ ]:
type(lista)

In [ ]:
zorro=(1,2,3,4)
animales=["gato", "perro", zorro, "oso"]
animales

['gato', 'perro', (1, 2, 3, 4), 'oso']

In [ ]:
type(zorro)

tuple

In [ ]:
número=list(range(10))
número

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [ ]:
range(10)

range(0, 10)

##Estructura para - for
Se usa cuando
* Se sabe **cuántas veces** se repite la acción.
* Está compuesta por un contador y una condición.
* **Contador**: Identifica cuántas veces se va repetir el bucle y con qué frecuencia.
* **Condición**: Evalúa cuándo se detiene.

Por definición:


```
for variable in range (vi,vf+a, paso):
  aquí se repite parte del codigo.
```
Donde
1. vi: Condición inicial. Donde arranco a contar.
2. vf+1: Condición final . Dónde dejo de contar+1
3. paso: Frecuecnia de conteo

for para recorrido de listas
flor=["amapola", "rosa", "tulipan", "orquidea"]
*El para va a iterar tantas veces como elementos tenga la lista
* la variable dentro del para, toma como valor, cada elemento de lista


```
fro variable in lista:
  variable
```

In [ ]:
#Creando una lista de nombre flor
flor=["amapola", "rosa", "tulipan", "orquidea"]
for rosa in flor:
  print(rosa)
  if flores=="tilipan"
    break

amapola
rosa
tulipan
orquidea

In [6]:
name=[]
for nombres in range(5):
    name.append(input("Ingrese su nombre: "))

Ingrese su nombre: 1
Ingrese su nombre: 2
Ingrese su nombre: 23
Ingrese su nombre: 45
Ingrese su nombre: 5

In [ ]:
name

1	Escribe un programa que imprima los números del 1 al 10.

In [12]:
for número in range (1,11):
  print(número)

1
2
3
4
5
6
7
8
9
10

In [14]:
num=[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
for numero in num:
  print(numero)

1
2
3
4
5
6
7
8
9
10

2	Escribe un programa que sume los números del 1 al 100.

In [17]:
suma=0
for i in range(1,101):
  suma=suma+i
  print(suma)

1
3
6
10
15
21
28
36
45
55
66
78
91
105
120
136
153
171
190
210
231
253
276
300
325
351
378
406
435
465
496
528
561
595
630
666
703
741
780
820
861
903
946
990
1035
1081
1128
1176
1225
1275
1326
1378
1431
1485
1540
1596
1653
1711
1770
1830
1891
1953
2016
2080
2145
2211
2278
2346
2415
2485
2556
2628
2701
2775
2850
2926
3003
3081
3160
3240
3321
3403
3486
3570
3655
3741
3828
3916
4005
4095
4186
4278
4371
4465
4560
4656
4753
4851
4950
5050

In [31]:
numero=list(range(1,101))
suma=0
for num in numero:
  suma=suma+num
  print(suma)

1
3
6
10
15
21
28
36
45
55
66
78
91
105
120
136
153
171
190
210
231
253
276
300
325
351
378
406
435
465
496
528
561
595
630
666
703
741
780
820
861
903
946
990
1035
1081
1128
1176
1225
1275
1326
1378
1431
1485
1540
1596
1653
1711
1770
1830
1891
1953
2016
2080
2145
2211
2278
2346
2415
2485
2556
2628
2701
2775
2850
2926
3003
3081
3160
3240
3321
3403
3486
3570
3655
3741
3828
3916
4005
4095
4186
4278
4371
4465
4560
4656
4753
4851
4950
5050

3	Escribe un programa que imprima los múltiplos de 3 entre 1 y 30.

In [35]:
for i in range (1,31):
  if i%3==0:
    print(i)

3
6
9
12
15
18
21
24
27
30

In [40]:

i=0
numero=list(range(1,31))
for num in numero:
  if i%3==0:
    print(i)

0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0

4	Escribe un programa que lea un número e imprima su tabla de multiplicar del 1 al 10.

##Estructura while
* Se emplea cuando **NO SE SABE** cuántas veces de debe repetir una acción, pero si se conoce su condición de parada (CP).

* Condición incial: Dónde se detiene el ciclo
* Modificador de condición inicial

Estructura generak de mientras


```
Condición inicial
while (condición==condición final):
  modificadr de condición incial
```
* Banderas: son booleanos
* Son preguntas
* Son contadores o aocmuladores